@media screen {
}

body {
  background: radial-gradient(circle, #638bd6 0%, #17bebb 100%);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  padding: 20px 15px 30px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
}

.our-team .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
}

.our-team:hover .pic {
  background: #17bebb;
  border-radius: 50%;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  margin: 0 0 7px 0;
}

.post {
  display: block;
  font-size: 15px;
  color: #17bebb;
  margin-bottom: 15px;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social li {
  display: inline-block;
  margin-right: 5px;
}

.social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: #17bebb;
  border: 1px solid #17bebb;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
  background: #17bebb;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .our-team {
    margin-bottom: 30px;
  }
}

.team-pics {
  height: 150px;
  width: 80px;
}
